.buy-button {
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.buy-button:hover {
  transition: 0,2s ease;
  color:black;
  background-color: rgb(0, 183, 255);
}
