.top-image {
  margin:30px;
  border-radius: 10px;
  max-width: 40%;
  max-height: 40%;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.middle-image {
  align-self: center;
  max-width: 80%;
  max-height: 0%;
  margin-bottom: 30px;
}

.bottom-image {
  height: 200px;
}
